.ConfigAuditReports {

  .Table {
    .TableCell {
      align-items: center;
      text-align: left;
      &.name {
      }
      &.namespace {
      }
      &.summary {
      }
      &.scanner {
      }
    }
  }

  .Badge {
    margin-left: 4px;
    margin-right: 4px;
    width: 3em;
    text-align: right;

    &.severity-CRITICAL {
      color: white;
      background-color: #cc1814;
    }

    &.severity-HIGH {
      color: white;
      background-color: #ffa500;
    }

    &.severity-MEDIUM {
      color: white;
      background-color: #f0c20c;
    }

    &.severity-LOW {
      color: white;
      background-color: #096ab0;
    }
  }
}